.CoordinatorHome{
    margin-top:50px;
    text-align: center;
}

.searchBar{
    text-align: center;
}

.inputStyle{
    border-radius: 4px;
    height: 2rem;
    width: 50%;
    margin: center;
}

.btn{
    background-color: blue;
    color: white;
    height: 1.8rem;
    border-radius: 5px;
    margin-top: 1rem;
    width: fit-content;
}