.studentView{
    background-color: blue;
    width: 90%;
    margin:auto;
    border-radius: 5px;
    background-color: rgb(219, 230, 239);
    padding:30px;
}

.label{
    display: block;
    text-align: start;
    margin-top: 10px;
    padding-left: 5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    // padding-top: 4px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
}

@media (max-width:800px) {
    .label{
        padding-left: 1rem;
        padding-top: 4px;
    }

    .studentView{
        width: 90%; 
    }
}

@media (max-width:600px) {
    .label{
        padding-left: 1px;
        padding-top: 4px;
    } 
}